<!doctype html>
<html lang="pt-br">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="layout :: tituloPadrao">Servico</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
</head>
<body>
<header th:replace="~{layout :: menu}"></header>

<main>
    <div class="container-fluid p-4">
        <div class="container">
            <h1 class="mb-4">Editar Processo</h1>
            <form th:action="@{/processos/editar}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="processoID" th:value="${processo.id}"/>
                <div class="mb-2">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#dados" aria-selected="true" role="tab">Dados</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#arquivos" aria-selected="false" role="tab" tabindex="-1">Arquivos</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#externo" aria-selected="false" role="tab" tabindex="-1">Arquivos Externo</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="dados" role="tabpanel">
                            <div class="row">
                                <div class="col-6">
                                    <label for="departamentoSelect" class="form-label mt-4">Departamento</label>
                                    <div>
                                        <select class="form-select" id="departamentoSelect" name="departamentoID" required>
                                            <option th:each="departamento : ${departamentos}"  th:value="${departamento.id}" th:text="${departamento.nome}" th:selected="${processo.departamento.id == departamento.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <label for="servicoSelect" class="form-label mt-4">Serviço</label>
                                        <select class="form-select" id="servicoSelect" name="servicoID" required>
                                            <option  th:each="servico : ${servicos}" th:value="${servico.id}" th:text="${servico.nome}" th:selected="${processo.servicos.id == servico.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <label for="usuarioSelect" class="form-label mt-4">Solicitante</label>
                                    <select class="form-select" id="usuarioSelect" name="usuarioID"  required>
                                        <option th:value="${processo.requerente.id}" th:text="${processo.requerente.nome}" ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <label for="descricaoProcesso" class="form-label mt-4">Descrição</label>
                                    <textarea class="form-control" id="descricaoProcesso" rows="6" name="descricaoProcesso" th:value="${processo.descricao}" th:text="${processo.descricao}" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="arquivos" role="tabpanel">
                            <div class="row">
                                <div class="col-6 p-2">
                                    <div id="fileInputContainer">
                                        <div class="file-input-group">
                                            <label>Clique no ícone [+] para adicionar um ou mais arquivos</label>
                                            <input id="arquivosup1" type="file" name="file" class="form-control mt-2" hidden multiple />
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary mt-2" onclick="addFileInput()"><i class="bi bi-file-earmark-plus"></i></button>
                                </div>
                                <div class="col-6 mt-3">
                                    <table class="table table-hover">
                                        <thead >
                                        <tr>
                                            <th scope="col-5"></th>
                                            <th scope="col-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-active" th:each="arquivo : ${arquivos}">
                                            <td th:text="${#strings.abbreviate(arquivo.nomeArquivo, 60)}">Column content</td>
                                            <td>
                                                <div class="d-flex justify-content-end">
                                                    <a th:href="@{/processos/arquivo/{id}(id=${arquivo.id})}" target="_blank" class="btn btn-outline-primary btn-sm" title="Baixar/Visualizar"><i class="bi bi-file-arrow-down"></i></i></a>
                                                    <a th:onclick="'javascript:removerArquivo(' + ${arquivo.id} + ')'" class="btn btn-outline-danger btn-sm" title="Remover">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="externo" role="tabpanel">
                            <p>Solicitantes tem acesso esses documentos</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary p-2">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: rodape}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- DataTables Responsive JS -->
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listar-departamentos').DataTable({
            info: false,
            ordering: true,
            paging: true,
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
            }
        });
    });
</script>
<script>
    let fileInputCount = 1;

    function addFileInput() {
        fileInputCount++;

        const newFileInputGroup = document.createElement('div');
        newFileInputGroup.className = 'file-input-group';


        const newFileInputId = 'arquivosup' + fileInputCount;
        const newFileLabelId = 'file-label' + fileInputCount;

        newFileInputGroup.innerHTML = `
        <label for="${newFileInputId}" id="${newFileLabelId}"><i class="bi bi-cloud-arrow-up"></i> Escolher Arquivo(s)</label>
        <input id="${newFileInputId}" type="file" name="file" class="form-control mt-2" hidden multiple />`;

        document.getElementById('fileInputContainer').appendChild(newFileInputGroup);
        document.getElementById(newFileInputId).addEventListener('change', function () {
            const fileLabel = document.getElementById(newFileLabelId);
            const files = this.files;

            if (files.length > 0) {
                const fileNames = [];
                for (let i = 0; i < files.length; i++) {
                    fileNames.push(files[i].name);
                }
                fileLabel.textContent = fileNames.join(', ');
            } else {
                fileLabel.innerHTML = '<i class="bi bi-cloud-arrow-up"></i> Escolher Arquivo(s)';
            }
        });
    }

    document.getElementById('arquivosup1').addEventListener('change', function () {
        const fileLabel = document.getElementById('file-label1');
        const files = this.files;

        if (files.length > 0) {
            const fileNames = [];
            for (let i = 0; i < files.length; i++) {
                fileNames.push(files[i].name);
            }
            fileLabel.textContent = fileNames.join(', ');
        } else {
            fileLabel.innerHTML = '<i class="bi bi-cloud-arrow-up"></i> Escolher Arquivo(s)';
        }
    });
    function removerArquivo(arquivoID) {
        if (confirm('Tem certeza que deseja remover este arquivo?')) {
            fetch(`/processos/arquivo/remover/${arquivoID}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        // Redirecionar ou atualizar a página após remoção bem-sucedida
                        window.location.reload();  // Atualiza a página após o sucesso
                    } else {
                        alert('Erro ao remover arquivo.');
                    }
                })
                .catch(error => {
                    console.error('Erro ao remover arquivo:', error);
                    alert('Erro ao remover arquivo.');
                });
        }
    }
</script>

</body>
</html>