<!doctype html>
<html lang="pt-br">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="layout :: tituloPadrao">Servico</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
</head>
<body>
<header th:replace="~{layout :: menu}"></header>

<main>
    <div class="container-fluid p-4">
        <h1>Processos</h1>
        <labe>Atenção: você só pode visualizar os processos do seu departamento.</labe>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <a href="/processos/criar" class="btn btn-primary">Criar Processo</a>
            </div>
            <table id="listar-departamentos" class="table">
                <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-1">Protocolo</th>
                    <th class="col-2">Serviço</th>
                    <th class="col-2">Departamento</th>
                    <th class="col-3">Descricao</th>
                    <th class="col-1">Nome Solicitante</th>
                    <th class="col-1">funcionario</th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-1">Protocolo</th>
                    <th class="col-2">Serviço</th>
                    <th class="col-2">Departamento</th>
                    <th class="col-3">Descricao</th>
                    <th class="col-1">Nome Solicitante</th>
                    <th class="col-1">funcionario</th>
                    <th class="col-1"></th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="processo : ${processos}">
                    <td th:text="${processo.id}"></td>
                    <td th:text="${processo.id}"></td>
                    <td th:text="${processo.nomeServico}"></td>
                    <td th:text="${processo.departamento}"></td>
                    <td th:text="${processo.descricao}"></td>
                    <td th:text="${processo.nomeRequerente}"></td>
                    <td th:text="${processo.funcionario}"></td>
                    <td class="text-end">
                        <div>
                            <a th:href="@{/processos/editar/{id}(id=${processo.id})}" class="btn btn-outline-primary btn-sm"><i class="bi bi-pen-fill"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: rodape}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- DataTables Responsive JS -->
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listar-departamentos').DataTable({
            info: false,
            ordering: true,
            paging: true,
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
            }
        });
    });
</script>
</body>
</html>