<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{layout :: head}">
    <title th:fragment="~{title}">Meus Processos</title>
</head>

<body>
    <header th:replace="~{layout :: menu}"></header>
    <section class="main-content">
        <div id="side-menu" class="side-menu">
            <nav th:replace="~{layout :: nav}"></nav>
        </div>
        <main id="conteudo" class="content-wrapper">
            <div class="content" th:fragment="conteudo">
                <div class="modal" id="dados" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Informações sobre o serviço. <span class="text-danger"><i
                                            class="bi bi-bug"></i> (EM TESTE)</span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label class="form-label mt-4"
                                        th:text="${'Total de Serviços: ' + setor.servicos.stream().count()}"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid p-3">
                    <div class="container-fluid p-2 d-flex flex-column  ms-auto">
                        <h3 class="text-dark">
                            <i class="bi bi-briefcase"></i> Editar Setor
                        </h3>
                        <div class="ms-auto align-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/setores">Setores</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Editar</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#info" aria-selected="false"
                                role="tab" tabindex="-1">Informações</a>
                        </li>
                        <li class="ms-auto nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear"></i></a>
                            <div class="dropdown-menu" style="">
                                <h6 class="dropdown-header">Operações</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#dados"><i class="bi bi-info-circle"></i> Informações
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="statusSetor(this)"><i
                                        class="bi bi-toggles"></i> Ativar/Desativar
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="deleteSetor(this)"><i
                                        class="bi bi-trash3"></i> Excluir</a>
                            </div>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="info" role="tabpanel">
                            <div>
                                <label class="form-label mt-4" for="id">ID</label>
                                <input class="form-control" id="id" name="id" type="text" readonly=""
                                    th:value="${setor.id}">
                            </div>
                            <div>
                                <label for="nome" class="form-label mt-4">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome"
                                    placeholder="Nome do Perfil" autocomplete="off" th:value="${setor.nome}"
                                    maxlength="255" required>
                            </div>
                            <div>
                                <label for="descricao" class="form-label mt-4">Descricao</label>
                                <input type="text" class="form-control" id="descricao" name="descricao"
                                    placeholder="Descricao do Perfil" autocomplete="off" th:value="${setor.descricao}"
                                    maxlength="255" required>
                            </div>
                            <div class="d-flex justify-content-end m-3">
                                <a href="javascript:void(0)" onclick="editarSetor(this)"
                                    class="btn btn-success btn-sm m-2">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{layout :: footer}">
            </div>
        </main>
    </section>
    <div th:replace="~{layout :: scripts}"></div>
    <script th:src="@{/js/setor.js}"></script>
</body>

</html>