<!doctype html>
<html lang="pt-br">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="layout :: tituloPadrao">Servico</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
</head>
<body>
<header th:replace="~{layout :: menu}"></header>

<main>
    <div class="container-fluid p-4">
        <h1>Lista de Serviços</h1>
        <div th:if="${atualizado}" th:class="${usuario_editavel.contains('sucesso') ? 'alert alert-success' : 'alert alert-danger'}" class="alert alert-dismissible " id="alert-message">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong th:text="${usuario_editavel}"></strong>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <a href="/admin/servicos/criar" class="btn btn-primary">Criar Servico</a>
            </div>
            <table id="listar-departamentos" class="table">
                <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-3">Nome</th>
                    <th class="col-6">Descricao</th>
                    <th class="col-1">Status</th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-3">Nome</th>
                    <th class="col-6">Descricao</th>
                    <th class="col-1">Status</th>
                    <th class="col-2"></th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="servico : ${servicos}">
                    <td th:text="${servico.id}"></td>
                    <td th:text="${servico.nome}"></td>
                    <td th:text="${#strings.abbreviate(servico.descricao, 70)}"></td>
                    <td>
                        <span th:classappend="${servico.isActive() ? 'bg-success' : 'bg-danger'}"
                              class="d-inline-block rounded-circle p-1">
                        </span>
                        <label th:text="${servico.isActive() ? 'Serviço Ativo ' : 'Serviço Inativo '}"></label>
                    </td>
                    <td class="text-end">
                        <div>
                            <a th:href="@{/admin/servicos/editar/{id}(id=${servico.id})}" class="btn btn-outline-primary btn-sm"><i class="bi bi-pen-fill"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: rodape}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- DataTables Responsive JS -->
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listar-departamentos').DataTable({
            info: false,
            ordering: true,
            paging: true,
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
            }
        });
    });
</script>
</body>
</html>