<!doctype html>
<html lang="pt-br">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="layout :: tituloPadrao">Servico</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
</head>
<body>
<header th:replace="~{layout :: menu}"></header>

<main>
    <div class="container-fluid p-4">
        <div class="container">
            <h1 class="mb-4">Configurações do Sistema</h1>
            <form th:action="@{/admin/config}" method="post">
                <div class="mb-2">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#dados" aria-selected="true" role="tab">Dados</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="dados" role="tabpanel">
                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <label for="nome" class="form-label mt-4">Nome da Aplicação</label>
                                        <input type="text" class="form-control" th:field="*{configAplicacao.nome}" id="nome" name="nome" required maxlength="60">
                                    </div>
                                    <div>
                                        <label for="theme" class="form-label mt-4">Escolha o tema da aplicação.</label>
                                        <select class="form-select" id="theme" name="theme" title="Temas de bootswatch.com! Muito Obrigado ;D">
                                            <option value="SuperHero">SuperHero</option>
                                            <option value="Cosmo">Cosmo</option>
                                            <option value="Cyborg">Cyborg</option>
                                            <option value="Darkly">Darkly</option>
                                            <option value="Journal">Journal</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <div>
                                            <label for="nome" class="form-label mt-4">Nome Do Container Azure</label>
                                            <input type="text" class="form-control" th:field="*{configAplicacao.containerBlob}" id="containerBlob" name="containerBlob" required maxlength="60">
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <label for="nome" class="form-label mt-4">Key Azure</label>
                                            <input type="text" class="form-control" id="keyBlob" name="keyBlob" required maxlength="60" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary p-2">Atualizar Sistema</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: rodape}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- DataTables Responsive JS -->
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#listar-departamentos').DataTable({
            info: false,
            ordering: true,
            paging: true,
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
            }
        });
    });
</script>
</body>
</html>