*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}
.title{
    padding: 10px;
}
.sub-title{
    padding: 10px;
}
.content{
    display: flex;
    width: 90vw;
}
.user-content{
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex: 1;
}
.app-content{
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex: 1;
}
@media screen and (max-width: 667px) {
    .content {
        flex-direction: column;
        width: 90vw;
        height: auto;
    }
    .title h1{
        font-size: 19px;
    }
    .sub-title p{
        font-size: 12px;
    }

}