<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{layout :: head}">
    <title th:fragment="~{title}">Meus Processos</title>
</head>

<body>
    <header th:replace="~{layout :: menu}"></header>
    <section class="main-content">
        <div id="side-menu" class="side-menu">
            <nav th:replace="~{layout :: nav}"></nav>
        </div>
        <main id="conteudo" class="content-wrapper">
            <div class="content" th:fragment="conteudo">
                <div class="container-fluid p-2">
                    <div class="container-fluid p-2 d-flex flex-column ms-auto">
                        <div>
                            <h2 class="section-title">Lista de serviços </h2>
                            <p class="section-subtitle">Visualize e gerencie os serviços cadastrados no sistema.</p>
                        </div>
                    </div>
                    <table id="tabela" class="display table nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Departamento Padrão</th>
                                <th>Status</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Departamento Padrão</th>
                                <th>Status</th>
                                <th class="col-1"></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="servico : ${servicos}">
                                <td th:text="${servico.nome}"></td>
                                <td th:text="${servico.descricao}"></td>
                                <td
                                    th:text="${servico.departamento !=null ? servico.departamento.nome : 'Departamento Padrão Não Definido'}">
                                </td>
                                <td>
                                    <span th:if="${servico.statusServico}"
                                        class="badge rounded-pill bg-success">Ativo</span>
                                    <span th:if="${!servico.statusServico}"
                                        class="badge rounded-pill bg-danger">Inativo</span>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a th:href="@{/servicos/editar/{id}(id=${servico.id})}" title="Editar Serviço"
                                            class="btn btn-sm me-1"><i class="bi bi-pencil-square"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:replace="~{layout :: footer}">
            </div>
        </main>
    </section>
    <div th:replace="~{layout :: scripts}"></div>
</body>

</html>